@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes expandHeight {
  from {
    height: 0;
  }
  to {
    height: 200px;
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(6, 112, 112), rgb(11, 193, 222));
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}

/* @keyframes underlineIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes underlineOut {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
} */

/* .expand {
  animation: expandHeight 300ms ease-out;
}

.collapse {
  animation: expandHeight 300ms ease-in reverse;
} */
/* 
.card {
  perspective: 1000px;
  width: 400px;
  cursor: pointer;
}

.expanded {
  height: 450px;
  background-color: #e6fffa;
  box-shadow: none;
  border-radius: 20px;
}

.text-md {
  margin-bottom: 1rem;
} */
